<!doctype html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Socket.io library  -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!--We need to initialize the variables passed in for EJS before we load our src'd js script file -->
    <script type="text/javascript">
        let name = '<%= name %>'; //init var for main.js
        let lname = '<%= lname %>'; //init var for main.js
        let email = '<%= email %>'
        let phone = '<%= phone %>'
        let user_id = '<%= user_id %>';
    </script>
    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="javascripts/pageController.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <nav class="topnav">
            <a id="logoContainer">
                <img id="logo" src="images/logo.png">
            </a>
            <a id="exploreNav" class="active" onclick="renderMainPage()">Explore</a>
            <a id="newRideNav" href="#newRide" type="button" data-toggle="modal"
               data-target="#newRideModal">New Ride</a>
            <a id="myRidesNav" onclick="renderMyRides()">My Rides</a>
            <a id="logout-icon" href="#logout" type="button" data-toggle="modal"
               data-target="#logoutModal">
                <img src="images/logout.png">
            </a>
            <a id="notifications">
                <img src="images/bell.png"/>
                <img src="images/notification.png" style="display: none;"/>
            </a>

            <a id="myAccountNav" onclick="renderMyAccount()">
                <img src="images/user.png">
            </a>

            <input type="text" placeholder="Search for a destination.." id="searchBar">
        </nav>
        <div class="container-fluid" id="mainViewer">
        </div>
    </body>

<!-- Modal -->
<div id="newRideModal" class="modal fade" role="dialog">
    <div class="modal-dialog" id="post-ride-modal">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Post A New Ride</h4>
            </div>
            <div class="modal-body container-fluid" id="post-ride-body">
                <div class="row">
                    <div class="col-sm-4" id="ride-details">
                        <h2 id="details-header">Ride Details</h2>
                        <input class="controls" id="origin-input" placeholder="Enter an origin location"
                               type="text">

                        <input class="controls" id="destination-input" placeholder="Enter a destination location"
                               type="text">
                        <div class="selector-images" >
                            <img alt="Driver" class="ride-selector" id="imgDriver" src="images/car.png">
                        </div>

                        <div id="driver-form-elements">
                            <span class="detail-span" id="departureDate"> Ride date: <input id="dateInput" class="rideDetailsInput" type="date"></span>
                            <span class="detail-span" id="departureTime"> Departure: <input id="timeInput" class="rideDetailsInput" type="time"></span>
                            <span class="detail-span" id="capacity"> Capacity: <input id="capInput" class="rideDetailsInput" placeholder="# of open seats" maxlength="1" pattern="\d*"
                                                                                      size="1" type="text"></span>
                            <span class="detail-span" id="price"> Price: $ <input id="priceInput" class="rideDetailsInput" placeholder="$$$/seat" maxlength="6" pattern="\d*"
                                                                                  size="6" type="text"></span>
                        </div>
                        <button class="ride-detail-element" id="btnPostRide" onclick="postRide()">Post Ride</button>
                    </div>
                    <div class="col-sm-8" id="map"></div>
                </div>
                <div style="display: none">
                    <div class="controls" id="mode-selector">
                        <input checked="checked" id="changemode-driving" name="type" type="radio">
                        <label for="changemode-driving">Driving</label>
                    </div>
                </div>
            </div>
            <script async
                    defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj9Fanni2mPxM4cp3y1DAL1FqOfhY3M0M&libraries=places&callback=initMap"></script>
            <!-- Test Portion for Embedded Map -->
            <!--<iframe allowfullscreen frameborder="0" height="450" id='embeddedMap' src="" style="border:0" width="600"></iframe>-->
        </div>
    </div>

</div>

<!-- Modal -->
<div id="logoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Log Out Of Account</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you wish to log out?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default">
                    <a href="/logout">Yes</a>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
  const searchRequest = document.getElementById("searchBar");
  searchRequest.addEventListener("keyup", function(event) {
      if (event.key === "Enter") {
        var searchValue = searchRequest.value;
        console.log(searchValue);
        renderSearch(searchValue);
        searchRender(searchValue);
      }
  });
</script>
</html>
